<div class="jumbotron center">
	<h1>WELCOME TO MY APP</h1>
	<p>
	<%= link_to "Log In", "#", class: "btn btn-default bth-lg" %>
	<%= link_to "Sign Up", "#", class: "btn btn-primary bth-lg" %>
	</p>
</div>
